body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .calculator {
    background-color: hwb(0 62% 9%);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(207, 198, 198, 0.1);
    width: 320px;
    padding: 20px;
  }
  
  #display {
    width: 95%;
    height: 50px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(255, 247, 247, 0.1);
    border: none;
    border-radius: 5px;
    background-color:  #fefbff;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color:  #ffd3eb;;
    color:  #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ef9ad0eb;
  }
  
  button.zero {
    grid-column: span 2;
  }
  